:root {
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
}
html {
    box-sizing: border-box;
    min-height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    line-height: 2;
}
body {
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    min-height: 100%;
}

h2, h3 {
    text-align: center;
    margin: 0;
}
h1{
    margin: 0;
}
h3 {
    color: var(--secundario);
    font-weight: 400;
    font-size: 1.6rem;
}

/** Utilidades **/
.contenedor{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

/** Header **/

.barra{
    background-color: white;
}
.contenido-barra a{
    display: block;
    text-align: center;
    padding: 1rem 0;
}
@media (min-width: 768px) {
    .contenido-barra{
    display: flex;
    justify-content: space-between;
}
}

.contenido-barra a{
    color: #000000;
    text-decoration: none;
    font-size: 1.4rem;
}
.hero{
    background-image: url(../img/hero.jpg);
    background-position: center center;
    background-size: cover;
    height: 22rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero::after{
    content: '';
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.contenido-hero{
    position: relative;
    color: white;
    z-index: 1;
}
.contenido-hero i{
    color: var(--primario);
    font-size: 3rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--secundario);
    text-decoration: none;
    color: white;
    padding: .5rem 3rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

/** Main **/ 

.contenedor-main{
    background-color: white;
}

@media (min-width: 768px) {
    .contenedor-main{

    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    margin-bottom: 3rem;
    }
}
.contenedor-main h2{
   margin: 30px 0;
}

@media (min-width: 768px) {
    .contenido-media{
        display: flex;
        justify-content: space-between;
    }
    .contenido-text{
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.contenido-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icono{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: var(--primario);
    border-radius: 50%;
    margin-top: 2rem;
}
.icono i{
    font-size: 2rem;
}


.contactanos{
    background-color: var(--gris);
    border-radius: 10px ;
    padding: 40px;
    width: 900px;
    margin: 0 auto;
}
.contactanos legend{
    color: var(--primario);
    margin-bottom: 30px;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .contenedor-campo{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .campo{
        flex: 0 0 calc(50% - 1rem);
    }
}
.campo{
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}
.campo label{
    flex: 0 0 90px;
    color: var(--blanco);
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    flex: 1;
    height: 2rem;
}
.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}
